<form id="fileForm">
  <input name="file" type="file" />
  <input name="courseID" type="text" />
  <input name="chapter" type="text" />
  <button onclick="post()">submit</button>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function post() {
    let form = document.querySelector("#fileForm");
    let formData = new FormData(form);
    axios.post("http://localhost:8080/api/uploadfile", formData, {
      headers: {
        "Content-Type": "multipart/form-data",
      }
    })
      .then(res => {
        console.log(res)
      })
      .catch(err => {
        console.log(err)
      })
  }
</script>